<!DOCTYPE html> 
<html>
  <head>
    <title>WWOU - Home</title>
    <%- include("partials/header", {title: null, desc: null, path: path }) %>
    <script>
    function nouser(){$('#nouser').modal('show')};
    </script>
    <style>
      @media only screen and (min-width: 577px) {
        imglogo {
          float: right;
        }
        txtlogo {
          text-align: left;
        }
      }
    </style>
  </head>
  <% if(player){ %>
  <body>
  <% } else { %>
  <body onload="nouser()">
  <% } %>
    <%- include("partials/navbar", {"user": user}) %>
    
    <div class="container">
      <div class="row logo vertcenter center">
        <div style="margin: auto;">
          <div class="imglogo" style="padding-right: 2em; display: inline-block;">
          <img
            class="roundimg animated fadeIn rotateIn slow"
            src="https://media.discordapp.net/attachments/659041538373976084/709349751690362920/WWOUIcon.png?width=128&height=128"
          />
          </div>
          <h1 class="txtlogo opensans animated fadeIn slow" style="font-weight:900; text-align: left; display: inline-block;">
            Werewolf Utopium
          </h1>
        </div>
      </div>
      <div class="animated fadeInUp delay-1s slow">
      <p class="opensans">
        <b>Werewolf Utopium</b> is a work-in-progress bot that simulates the Werewolf Online game fully on Discord. Our bot is close to being at v1.0 release, and we welcome you to join and help test out the bot. Our bot has frequent updates and new features as we also test out some role suggestions and concepts.
      </p>
      <p class="opensans">
        The whole gameplay takes place in the DMs with the bot, you don't need to switch from places to places.
        The bot is online 24/7, so you can play with your friends on this Simulator at any time.
      </p>
      </div>
    </div>
    
    
    <% if(user) { %>
    <div
      class="modal fade"
      id="nouser"
      tabindex="-1"
      role="dialog"
      aria-labelledby="nousertitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nousertitle">User not found</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Dismiss"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Hey there <%- user.username %>! We were unable to find you in
            our player database.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              onclick="location.href='/invite';"
            >
              Join our server
            </button>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <%- include("partials/footer") %>
  </body>
</html>
