<!DOCTYPE html> 
<html
  <head>
    <title>Log: <%- id -%></title>
    <link rel="stylesheet" href="../log.css">
  </head>
  <body>
    <pre>
      <%_ let prevTimestamp -%>
      <%_ logs.forEach(line => { -%>
        <%_ if (!line.length) return; -%>
        <%_ let index = 125 -%>
        <%_ if (line.includes("|")) prevTimestamp = line.split(" | ")[0] -%>
        <%_ let stripTime = line.replace(/\d{4}(\/\d{2}){2} \d{2}(\:\d{2}){2} \|\s*/gi, "") -%>
        <%_ let className = stripTime.match(/^(\s*at.*?\(.*?\)|\[error\]|error\:)/i) ? 'error' : stripTime.match(/^(Game is starting|The sun is rising|(Voting for )?(Night|Day) \d+ has started.)/i) ? 'phase' : stripTime.match(/^[^\s]*? joined the game./i) ? 'join' : stripTime.match(/^[^\s]*? is now spectating the game./i) ? 'spectate' : stripTime.match(/^([^\s]*? left the game.|[^\s]*? was removed from .*? for inactivity.)/i) ? 'leave' : stripTime.match(/^\[action\]/i) ? 'action' : stripTime.match(/^\[result\]/i) ? 'result' : stripTime.match(/^\[warn\]/i) ? 'warn' : "" -%>
        <%_ while (index < line.length) { -%>
          <%_ line = line.substring(0, line.substring(0, index).lastIndexOf(' ')) + `</span>\n                    <span class="${className}">| ` + line.substring(line.substring(0, index).lastIndexOf(' ')+1) -%>
          <%_ index += 150 -%>
        <%_ } -%>
<%- line.includes("|") ? line.split(" | ")[0] : prevTimestamp -%> <span class="<%- className -%>">| <%- line.includes("|") ? line.split(" | ").slice(1).join(" | ") : line -%></span>
      <%_ }) -%>
    </pre>
  </body>
</html>
